/* .button-container{
    display: flex;
    gap:30px;
    justify-content: center;
} */
.btn{
    text-align: center;
    padding:50px;
    font-size: 40px;

}


/* #container{
    display: flex;
   justify-content: center;
   gap:30px;
} */